%h1 ReadItLater -> Instapaper migrations
%p Enter your RIL credentials below to export your pending RIL bookmarks and import them into Instapaper. Your Instapaper credentials will be requested via an OAuth flow. If you're not quite comfortable with pasting in your RIL credentials, feel free to change your password to something temporary.
%p
  View the source
  %a{ :href => 'http://github.com/christineyen/moya' }on Github
  \.
%form{ :class => 'credentials', :action => 'ready', :method => 'post' }
  #readitlater.column
    .column-header ReadItLater credentials
    %ul
      %li
        %label{ :for => 'ril_username' } Username
        %input{ :id => 'ril_username', :name => 'ril[username]' }
      %li
        %label{ :for => 'ril_password' } Password
        %input{ :id => 'ril_password', :type => 'password', :name => 'ril[password]' }
  #instapaper.column
    .column-header Instapaper credentials
    %ul
      %li
        %label{ :for => 'inst_username' } Username (Email)
        %input{ :id => 'inst_username', :name => 'inst[username]' }
      %li
        %label{ :for => 'inst_password' } Password (if applicable)
        %input{ :id => 'inst_password', :type => 'password', :name => 'inst[password]' }
  #submit
    %input{ :type => 'submit', :value => 'Begin migration!' }
  .import-status
%p{ :class => 'details' } I was a reasonably satisfied ReadItLater user for awhile (if I recall, the main tipping point in my decision between the two services in the first place was the ever-so-slightly superior RIL iPhone app, which supported real full-screen support for articles).
