%html
  %head
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '/style.css' }
    %title ReadItLater -> Instapaper migrator
  %body
    #wrapper
      =yield
      #footer
        Copyright &copy; 2011
        %a{ :href => 'http://christineyen.com' } Christine Yen
        \.
