-if @errors.empty?
  %h1 Ready to migrate!
  %p
    = @items.size
    items ready to be migrated from your ReadItLater account.
    %a{ :href => '#' }Begin import
    into your Instapaper account?
  %script{ :type => 'text/javascript' }
    moya.items =
    = JSON.unparse(@items)
    ;
-else
  %h1 Error during migration.
  %p
    We received an error while communicating with services:
  %ul
    -@errors.each do |service, err|
      %li
        ="#{service}: '#{err}'"

