-if @errors.empty?
  %h1 Migrated!
  %p
    = @items.size
    migrated to your Instapaper account (
    = @un
    )! Thanks for your patience.
-else
  %h1 Error during migration.
  %p
    We received an error while communicating with services:
  %ul
    -@errors.each do |service, err|
      %li
        ="#{service}: '#{err}'"

